################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Item Generator/Item Generator/.vs/Item Generator/v16
