################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Item Generator/Item Generator/.vs/Item Generator/v16
/Item Generator/Item Generator/bin/Debug
/Item Generator/Item Generator/obj
